.standard {
  .blogListContainer {
    width: 80vw;
    max-width: 1200px;
    min-width: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    grid-gap: 1rem;
  }
}

.compact {
  .blogListContainer {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 0.5rem 0.5rem; */
    grid-gap: 1rem;
    border: 1px solid red;
    padding: 1rem;
  }
}
