.headerComponent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
}
.homeLogo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--foreground);
  display: flex;
  gap: 1rem;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchBar {
  flex: 1;
  display: flex;
  padding-left: 2rem;
}
